In [ ]:
import numpy as np
import pandas as pd

In [ ]:
FILE_NAME = "../../data/artist_streams.csv"
SAVE_NAME = "../../data/artist_songs.csv"

In [ ]:
print("Reading data...")
data = pd.read_csv(FILE_NAME)
print(f"Data shape: {data.shape[0]} lines, {data.shape[1]} columns")

In [4]:
data

,user_id,ts,sng_id,album_id,listening_time,listen_type,origin,art_id
0,53a2a460127df49eef5976193c14728c695c3463,1471344689,121710324,12721422,203,MOD,page_playlist,249599
1,d81f8a1d9fd30af3c189fbe99c26fd6d4db11375,1471364400,121710324,12721422,1,MOD,page_playlist,249599
2,b26ce863e9161cc7e36cdf254927457cc5ceb55b,1471320765,121710324,12721422,203,MOD,page_playlist,249599
3,206929899c1bfc3c49174d20824ab1dc77758567,1471355821,121710324,12721422,115,smartradio,flow,249599
4,111f74340b5ef733f7dc99dc5494de3da4dbeea7,1471336531,121710324,12721422,203,smartradio,flow,249599
...,...,...,...,...,...,...,...,...
2242112,bb2a3a806a8d9ae05bc63fa2182a3fb645530a49,1471505913,117303310,12174146,14,MOD,page_album,1197905
2242113,92ff662b58d3bd81e5cdc06a6438ad4bf490d938,1471983156,9900601,907173,18,MOD,page_album,1182806
2242114,92ff662b58d3bd81e5cdc06a6438ad4bf490d938,1471982447,9900591,907173,9,MOD,page_album,1182806
2242115,92ff662b58d3bd81e5cdc06a6438ad4bf490d938,1471982430,9900589,907173,8,MOD,page_album,1182806
2242116,92ff662b58d3bd81e5cdc06a6438ad4bf490d938,1471984162,17669990,1656846,11,MOD,page_playlist,2645

In [32]:
data_songs = pd.read_json('../../data/songs.json', lines=True)

# Keep only songs and artists
data = data[["sng_id", "art_id"]]
data_songs = data_songs[["sng_id", "art_id"]]

# Merge both frames for maximum info
data = data.append(data_songs).drop_duplicates()
print(f"Entries after merge:  {data.shape[0]}")
data

Entries after merge:  61269

          sng_id    art_id
0      121710324    249599
601    112342328   4944278
1413   112342326   4944278
2156   126771857   4494623
2852   126219051     13011
...          ...       ...
61260  127082739    115850
61261  127243491   3058301
61262  127247037      2318
61265  127546083  10614035
61267  127677679      8904

[61269 rows x 2 columns]

In [33]:
data.sort_values("art_id").to_csv(SAVE_NAME, index=False)

In [10]:
data_songs = pd.read_json('../../data/songs.json', lines=True)

In [11]:
songs = pd.read_csv("../../data/songs_no_artists.csv")
data = data_songs.merge(songs, on="sng_id")
data

Empty DataFrame
Columns: [sng_id, art_id, alb_id, art_name, alb_title, sng_title, release_date, duration, genres]
Index: []

In [13]:
# API Calls to get unknown songs
import requests

In [15]:
api_url_base = "https://api.deezer.com/track/"

headers = {'Content-Type': 'application/json'}

In [ ]:
api_url = f"{api_url_base}{sng_id}"

response = requests.get(api_url, headers=headers)

if response.status_code == 200:
    print(response.content.decode("utf-8"))
else:
    print("OH NO")